<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="col-md-4 mt-5">
            <form method="POST" action="login">
                {% csrf_token %}
                <table>
                    {% for x in form %}
                    <tr>
                        <td>{{x.label_tag}}</td>
                        <td>{{x}}</td>
                        {% if x.errors %}
                        <td>{{x.errors}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <input type="submit" name="send" value="login"> 
                        </td>
                    </tr>
                </table>                
            </form>
        </div>       
    </body>
    <script src="" async defer></script>
</html>